attrs==19.3.0
Click==7.0
Flask==1.1.1
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.2
six==1.13.0
wcwidth==0.1.8
Werkzeug==0.16.0
zipp==0.6.0

Flask-RESTPlus==0.13.0
flask-cors==3.0.8
Flask-Admin==1.5.4
flask-bcrypt==0.7.1
flask-cors==3.0.8
pep8==1.7.1
gunicorn==20.0.4
isort==4.3.21
psycopg2-binary==2.8.4
pytest-cov==2.8.1
pytest-xdist==1.30.0

entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1